<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.biaodaa.dao.TestMapper">
    <select id="getTestName" parameterType="String" resultType="com.silita.biaodaa.model.TUser">
        select * from analyze_detail where id=#{id}
    </select>

    <select id="getNoticeToRedis" resultType="com.snatch.model.Notice">
        select id,redisId,title,opendate,content,url,pdfURL,areaCode,catchType,noticeType,
        province,city,county,provinceCode,cityCode,countyCode,photoUrl,`type`,
        snatchNumber,areaRank,provinceCode as 'source'
        from test.notice
    </select>



</mapper>