<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.biaodaa.dao.TestMapper">
    <select id="getTestName" parameterType="String" resultType="com.silita.biaodaa.model.TUser">
        select * from mishu.zhaobiao_analyze_detail where id=#{id}
    </select>

    <select id="getHunanNoticeToRedis" resultType="com.snatch.model.Notice" >
        select id,redisId,title,opendate,content,url,pdfURL,areaCode,catchType,noticeType,
        province,city,county,provinceCode,cityCode,countyCode,photoUrl,catchtype as `type`,
        snatchNumber,areaRank,source
        from  test.test_notice
        where id>=(SELECT id
        from test.hunan_notice
        order by id
        limit #{param1},1)
        ORDER  by id
        limit #{param2}
    </select>

    <select id="pushCustomRedisNotice" resultType="com.snatch.model.Notice" >
        select id,redisId,title,opendate,content,url,pdfURL,areaCode,catchType,noticeType,
        province,city,county,provinceCode,cityCode,countyCode,photoUrl,catchtype as `type`,
        snatchNumber,areaRank,source
        from  ${param3}
        where id>=(SELECT id
            from ${param3}
            <if test="param5!=null and param5!=''">
                WHERE source=#{param5}
            </if>
            order by id
            limit #{param1},1)
            <if test="param4!=null and param4!=''">
               and  title LIKE '%${param4}%'
            </if>
        ORDER  by id
        limit #{param2}
    </select>

    <select id="getNoticeToRedis" resultType="com.snatch.model.Notice">
        select id,redisId,title,opendate,content,url,pdfURL,areaCode,catchType,noticeType,
        province,city,county,provinceCode,cityCode,countyCode,photoUrl,catchtype as `type`,
        snatchNumber,areaRank,source
        from test.notice
        <!--where title like '%五老村办事处仁寿里8号、10号建筑改造出新项目的招标公告%'-->
    </select>
<!--
沈阳金杯车辆制造有限公司搬迁改造项目工程施工总承包
中央储备粮锦州直属库凌海分库建仓项目施工
山东省淮河流域重点平原洼地南四湖片
学生宿舍B组团S3S4(北京信息科技大学新校区学生宿舍B组团
河南省内黄监狱改扩建工程（二期）
临沂市临港经济开发区龙潭湾水库工程项目-->



</mapper>